ol, ul {
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}

.time-warp {
  min-width: 151px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.board-row {
  margin: 0 auto;
  max-width: 100px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.winner {
  color: #dc3545;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/* .game {
  display: flex;
  flex-direction: row;
} */

/* .game-info {
  margin-left: 20px;
} */